<%- include ('../partials/header') %>
<%- include ('../partials/menuMain') %>


<style>
    .uglyBg {
        background: linear-gradient(to bottom, #33ccff 0%, #ffd700 100%)
    }
</style>

<main class="uglyBg h-100">
  <!DOCTYPE html>
    <div class="container" >
      <body>
        <center><h1 style="color: white;">World Leaderboard</h1></center>
        <center><h2 style="color: white">Here is The Worlds Best Quiz Takers</h2></center>
      <table class="table" >
        <thead>
            <tr>
              <th scope="col">Rank</th>
              <th scope="col">Name</th>
              <th scope="col">Score</th>
            </tr>
            <%let i = 1%>
        <% data.forEach(function(values)  {%>
            <tr>
              <%if(values.leaderboard) { %>
              <td>
                <%=i%>
              </td>
              <td>
                <%=values.username%>
              </td>
              <td>
                <%=values.leaderboard+"%"%>
              </td>
              <% i++ %>
              <%}%>
              <% }) %>
      </table>
    </body>
    </div>
  </html>
</main>    

<%- include ('../partials/footer') %>