<%- include ('../partials/header') %>
<%- include ('../partials/menuMain') %>

<main>
  <!DOCTYPE html>
  <style>
    div {
      background: linear-gradient(to bottom, #33ccff 0%, #ffd700 100%)
    }
  </style>
  <div class="container-fluid">

    <!DOCTYPE html>
    <html>
    <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
    .card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      max-width: 300px;
      margin: auto;
      text-align: center;
      font-family: arial;
    }

    .title {
      color: grey;
      font-size: 18px;
    }

    button {
      border: none;
      outline: 0;
      display: inline-block;
      padding: 8px;
      color: white;
      background-color: #000;
      text-align: center;
      cursor: pointer;
      width: 100%;
      font-size: 18px;
    }

    a {
      text-decoration: none;
      font-size: 22px;
      color: black;
    }

    button:hover, a:hover {
      opacity: 0.7;
    }
    </style>
    </head>
    <body>

    <h2 style="text-align:center"></h2>
    <br>
    <br>
    <div class="card">
      <br>
      <p class="title"><%= username%></p>
      <p>Quizzes taken: <%= quiztaken%></p>
      <p>Correct answers: <%= correctans%></p>
      <p>Global rank: <%= rank%></p>
      <br>
    </div>

    </body>
    </html>

  </div>
  </!DOCTYPE html>
</main>

<%- include ('../partials/footer') %>
