<%- include ('../partials/header') %>
<%- include ('../partials/menuMain') %>


<% const countdownTime = 20; %>


<form id="quizOverForm" action="/quizOver" method="get">
    <input type="hidden" name="correct">
    <input type="hidden" name="location">
</form>

<script>
    function quizOver(correct) {
        const form = document.querySelector('#quizOverForm')
        form.querySelector('input[name="location"]').value = window.location;
        form.querySelector('input[name="correct"]').value = correct;
        form.submit();
    }

    const tick = setInterval(() => {
        const timer = document.querySelector('#countdownTimer');
        let count = parseInt(timer.textContent);
        if (count > 0) {
            count--;
            timer.textContent = count.toString();
        //    readd the pop class
            timer.classList.add('pop');
            setTimeout(() => {
                timer.classList.remove('pop');
            }, 150);
        } else {
            clearInterval(tick);
            console.log("They have run out of time!");
            quizOver(false);
        }
    }, 1000);
</script>

<style>
    #countdownTimer.pop {
        transform: scale(1.5);
        color: red;
    }

    #countdownTimer {
        transition: transform ease-in-out 150ms;
        transform: scale(1);
    }
</style>


<main>
    <div class="container-fluid">
        <!DOCTYPE html>
            <style>
                div {
                background: linear-gradient(to bottom, #33ccff 0%, #ffd700 100%)
                }
            </style>
            <body>
                <br>
                <br>
                <center>
                  <MARQUEE style="FILTER: wave(add=5,phase=3,freq=2,strength=10)" scrollAmount=2 scrollDelay=5 direction=up
                    width=1200 height=300>
                    <FONT style="FONT-SIZE: 50px; FONT-FAMILY: monospace">
                      <CENTER><B>
                          <FONT color=dodgerblue>Welcome to Sciquiz!</FONT>
                        </B></CENTER>
                    </FONT>
                  </MARQUEE>
                    <h1 id="countdownTimer"><%-countdownTime%></h1>
                </center>
                <div class="card">
                    <h1><%- question.question %></h1>
                    <table class="table">
                        <tbody>
                            <% for(let i = 0; i < question.answers.length; i++) {%>
                                <tr>
                                    <form method action="quiz">
                                        <button type="submit" id="answer" name="answer" value=<%-`"${question.answers[i]}"`%>> <%- question.answers[i]%> </button>
                                    </form>
                                </tr>
                            <%}%>
                        </tbody>
                    </table>
                </div>
            </body>
        </html>
    </div>

</main>

<%- include ('../partials/footer') %>