<%- include ('../partials/header') %>
<%- include ('../partials/menuMain') %>

<%- console.log('tdbApi', tdbApi) %>
<%- console.log('tdbApi', tdbApi.getCategories().then(console.log)) %>

<main>
    <div class="container-fluid">
        <h1>Quiz Page</h1>
    </div>
</main>

<%- include ('../partials/footer') %>